<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" style="font-size: 1.5vmax;">
<head>
<meta charset="UTF-8">
<title>아쿠아리움 예제 사이트</title>
<link rel="icon" type="image/x-icon" th:href="@{images/aquarium_logo.png}"/>
<link th:href="@{css/common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{js/client/ModalLoader.js}"></script>
<script type="text/javascript">

</script>

</head>
<body style="margin: 0;width: 100vw; height: 100vh; background-image:url('images/bg_top.jpg'); background-size: cover;" oncontextmenu="return false">

</body>
</html>