<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{css/common.css}" rel="stylesheet" />
<title>Insert title here</title>

</head>
<body>	
<!-- 
	hello
	<div>
		<a th:href="@{/homeTest}">homeTest</a>
	</div>
	<div>
		<a th:href="@{/home}">home</a>
	</div>
-->
<div style="background-repeat: no-repeat;background-size: 100% 100%;
			position:absolute; top:0; bottom:0; right:0; left:0;">
		<div class="top_button_wrapper">
		
		</div>
		<div>
			<div id="chat_message_content" class="chat_content" style="width:500px; height:500px; 
				writing-mode: horizontal-tb;overflow-y: hidden; overflow-x: hidden;
				overflow-wrap: break-word;border: inset; border-color: darkviolet;">
		
			</div>
		</div>
		<div class="bottom_button_wrapper" style="border: dotted;">
			<div class="top_show_hide_wrap">
				<button class="top_show_hide" type="button" onclick="console.log(this);">
					<i class="arrow direction_up"></i>
				</button>
			</div>
			<div class="top_button_list"></div>
		</div>
	</div>
</body>
</html>