<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" style="font-size: 1.5vmax;">
<head>
<meta charset="UTF-8">
<link th:href="@{css/common.css}" rel="stylesheet" />
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
<script src="https://cdn.babylonjs.com/materialsLibrary/babylon.waterMaterial.js"></script>
<script type="text/javascript" th:src="@{js/client/ModalLoader.js}"></script>
<style>
	ul.detail_menu{
    	position: absolute;
   	    display: grid;
    	padding: 0.3%;
    	margin-top: 1%;
    	transition: 2s;
	}
	li.detail_menu_item{
	    padding-top: 4.5%;
    	padding-bottom: 4.5%;
    	cursor : pointer;
		background-color: #6bb4d5a8;
	}
	
	/*
	details[open] summary.menu_detail_summary ~ * {
  		animation: open_sweep 1000ms linear forwards;
	}
	details[close] summary.menu_detail_summary ~ * {
  		animation: close_sweep 1000ms linear forwards;
	}
	
	@keyframes open_sweep {
	  0%    {opacity: 0;}
	  10%    {opacity: 0.1;}
	  20%    {opacity: 0.2;}
	  30%    {opacity: 0.3;}
	  40%    {opacity: 0.4;}
	  50%    {opacity: 0.5;}
	  60%    {opacity: 0.6;}
	  70%    {opacity: 0.7;}
	  80%    {opacity: 0.8;}
	  90%    {opacity: 0.9;}
	  100%  {opacity: 1;}
	}
	
	@keyframes close_sweep {
	  0%    {opacity: 1;}
	  10%    {opacity: 0.9;}
	  20%    {opacity: 0.8;}
	  30%    {opacity: 0.7;}
	  40%    {opacity: 0.6;}
	  50%    {opacity: 0.5;}
	  60%    {opacity: 0.4;}
	  70%    {opacity: 0.3;}
	  80%    {opacity: 0.2;}
	  90%    {opacity: 0.1;}
	  100%  {opacity: 0;}
	}
	*/
	body{
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none
	}
	body{
		-ms-overflow-style: none; 
		scrollbar-width: none; 
		overflow: scroll;
	}
	body::-webkit-scrollbar{
		display: none;
	}
	@media( orientation: portrait ){
	  html {
	    transform: rotate(0deg);
	    transform-origin: top left;
	    position: absolute;
	    top: 0%;
	    left: 0;
	    width: 100vw;
	    height: 100vh;
	  }
	}
	summary.menu_detail_summary{
		cursor: pointer;
	    background-color: #ccefff17;
	    color: white;
	    font-weight: bold;
	    font-family: serif;
	}
	#to_day_event_view{
		visibility: hidden;
		transition: 0.5s;
		position: absolute;
		background-color: #067ea6;
		overflow: scroll;
	    -ms-overflow-style: none;
    	scrollbar-width: none;
    	width: 45%;
    	
	}
	#to_day_event_view::-webkit-scrollbar{
		display: none;
	}
	#to_day_event_view > li{
		margin-top : 2%;
	}
	#to_day_event_view > li >a{
		display: flex;
	    align-items: center;
	    gap: 0.7vw;
	}
	img.icon_menu_item{
    	width: 3.5vmax;
		display: block;
	}
	a.icon_menu_button{
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	td {
	    width: 24vw;
	}
	.modal_content{
		font-size:2vmax;
	}
	.modal_content button{
		font-size:2vmax;
	}
	div, span, img, a {
	    margin-top: 1.5%;
	    margin-bottom: 1.5%;
	}
</style>
<script type="text/javascript">
window.addEventListener('load',() => {
	modalLoader = new ModalLoader();
	modalLoader.setModalAlert();
});
</script>
<title>Insert title here</title>

</head>
<body style="margin: 0;width: 100vw; height: 100vh; background-image:url('images/bg_top.jpg'); background-size: cover;" oncontextmenu="return false">
<div>
<header style="position: absolute;width: 100%;top: 0; font-size: 1.7vmax;margin: 0;">
	<div class="header_button_wrapeer" style="margin:0;padding: 1%;border-bottom-color: initial;border-bottom-style: ridge;border-bottom-width: thin;background-color: #0000004d;">
		<nav>
			<ul style="display:flex; justify-content: space-around;">
				<li>
					<details class="top_details">
						<summary class="menu_detail_summary" onclick="toggleSummeryAndCanvas(this)">
						아쿠아리움 소개
						</summary>
						<ul class="detail_menu">
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴1_상세메뉴1
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴1_상세메뉴2
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴1_상세메뉴3
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴1_상세메뉴4
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴1_상세메뉴5
							</li>
						</ul>
					</details>
				</li>
				<li>
					<details class="top_details">
						<summary class="menu_detail_summary" onclick="toggleSummeryAndCanvas(this)">
						프로그램 이벤트
						</summary>
						<ul class="detail_menu">
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴2_상세메뉴1
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴2_상세메뉴2
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴2_상세메뉴3
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴2_상세메뉴4
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴2_상세메뉴5
							</li>
						</ul>
					</details>
				</li>
				<li>
					<details class="top_details">
						<summary class="menu_detail_summary" onclick="toggleSummeryAndCanvas(this)">
						이용 안내
						</summary>
						<ul class="detail_menu">
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴3_상세메뉴1
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴3_상세메뉴2
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴3_상세메뉴3
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴3_상세메뉴4
							</li>
							<li class="detail_menu_item" onclick="modalLoader.createModalAlertText(['준비 중입니다.']);">
								메뉴3_상세메뉴5
							</li>
						</ul>
					</details>
				</li>
			</ul>
		</nav>
		<script type="text/javascript">
			
			const toggleSummeryAndCanvas = (obj) => {
				//let menu = obj.parentElement.querySelector('.detail_menu');
				if(obj.parentElement.hasAttribute('open')){
					canvas.parentElement.style.zIndex=1;
				}else{
					canvas.parentElement.style.zIndex=-1;
				}
			}
			window.addEventListener('click',(event)=>{
				let detailList = [...document.querySelectorAll('div.header_button_wrapeer details[open]')];
				if(detailList.length == 0){
					return;
				}
				let topMenuList = detailList.map(e=>e.querySelector('ul.detail_menu'));
				topMenuList.forEach((e,i)=>{
					let rect = e.getBoundingClientRect();
					let detailRect = detailList[i].getBoundingClientRect();
					if((event.x > rect.left && event.x < rect.right && event.y > (rect.top - (detailRect.height + detailRect.y)) && event.y < rect.bottom) == false 
						&& event.path.some(e=>e.tagName === 'DIALOG') == false)
					{
						detailList[i].open = false;	
						/*
						detailList[i].setAttribute('close','');
						setTimeout(()=>{
							detailList[i].open = false;
							detailList[i].toggleAttribute('close');
						},1000);
						*/
					}
				});
			})
		</script>
	</div>
</header>
	<div style="display: block; z-index: 1; width: 100%; height: 60vh;">
		<canvas id="renderCanvas" style="touch-action: none; outline: none; width: 100%; height: 100%;" tabindex="1">
		</canvas>
	</div>
	<!-- 
	<div class="bottom_show_hide_wrap" style="display: flex;justify-content: center;align-items: flex-start;background-color: #fff5f524;align-content: stretch;border-top-left-radius: 100%;border-top-right-radius: 100%;width: 100%;position: absolute;bottom: 0;"
			onclick="window. document.querySelector('#mid_menu_wrapper').getBoundingClientRect().y">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;height: 13vh;transform: rotate(90deg);-webkit-transform: rotate(90deg);" xml:space="preserve">
			<polygon style="fill: #00000080;" points="328.348,194.783 328.348,72.348 512,256 256,278.261 0,256 0,194.783 "></polygon>
			<polygon style="fill: #00000069;" points="512,256 328.348,439.652 328.348,317.217 0,317.217 0,256 "></polygon>
		</svg>
	</div>
	-->
	<div id="mid_menu_wrapper" style="display: flex;justify-content: center;flex-direction: column;">
		<div class="left_mid_menu" style="padding-left: 2%; padding-right:2%; display: grid;background-color: #01689b8c; margin-top: 0;margin-bottom: 0; padding-top:0; padding-bottom:1%;">
		    <div style="display:flex; position:relative;margin: 0;padding: 0;">
		        <button type="button" onclick="this.toggleAttribute('open'); toggleTodayEventView(this)" style="border: none;font-family: initial;font-size: 2vmax;font-weight: initial;padding: 0;width: 55%;">
		        	<div style="display: flex;justify-content: space-between;margin-left: 2%;align-items: center;">
		        		<span style="font-size:3vw;">
			        		오늘의 이벤트 보기
			        	</span>
			        	<span class="to_day_event_toggle_button">
			        		<strong style="transition: 0.7s; padding-right: 12vw; padding-left: 0.3vw; font-size:2vmax; border: ridge;border-radius: 15vw;font-family: serif;">○</strong>
			        	</span>
		        	</div>
		        </button>
	     		<ul id="to_day_event_view">
					<li>
						<a href="javascript:void(0)">
		            		<img th:src="@{images/pieces-of-cutlery.png}"style="width: 2.5vmax;"/> 
			            	<span>상어 먹이 주기</span>
		            	</a>
	                </li>
	                <li>
	                	<a href="javascript:void(0)">
		            		<img th:src="@{images/pieces-of-cutlery.png}"style="width: 2.5vmax;"/> 
		                	<span>물고기 도시락</span>
	                	</a>
	                </li>
	                <li>
	                	<a href="javascript:void(0)">
		            		<img th:src="@{images/eye.png}"style="width: 2.5vmax;"/> 
		                	<span>해양 동물 구조 체험</span>
	                	</a>
	                </li>
	                <li>
	               		<a href="javascript:void(0)">
		            		<img th:src="@{images/eye.png}"style="width: 2.5vmax;"/> 
		                	<span>나만의 수조 만들기</span>
	                	</a>
	                </li>
	                <li>
	                	<a href="javascript:void(0)">
		            		<img th:src="@{images/eye.png}"style="width: 2.5vmax;"/> 
		                	<span>스타트 마린 프렌즈</span>
	                	</a>
	                </li>
	                <li>
	                	<a href="javascript:void(0)">
		            		<img th:src="@{images/eye.png}"style="width: 2.5vmax;"/> 
		                	<span>메인 수조 피딩스테이션</span>
	                	</a>
	                </li>
	                <li>
	                	<a href="javascript:void(0)">
		            		<img th:src="@{images/ship.png}"style="width: 2.5vmax;"/> 
		                	<span>[단체]아쿠아 패밀리</span>
	                	</a>
	                </li>
	                <li>
	               		<a href="javascript:void(0)">
		            		<img th:src="@{images/ship.png}"style="width: 2.5vmax;"/> 
		                	<span>참치잡이 배 체험하기</span>
	                	</a>
	                </li>
	        	</ul>
		        <script type="text/javascript">
		        	function toggleTodayEventView(obj){
		        		let eventView = obj.parentElement.querySelector('ul#to_day_event_view');
		        		let buttonIcon = obj.querySelector('strong');
		        		let objRect = obj.getBoundingClientRect();
		        		let eventViewRect = eventView.getBoundingClientRect();
		        		
		        		//objRect.y !== eventViewRect.y ? eventView.style.top = objRect.y+'px' : '';
		        		
		        		if(obj.hasAttribute('open')){
		        			Object.assign( obj.querySelector('.to_day_event_toggle_button strong').style, {paddingLeft : '12vw', paddingRight : '0.3vw'});
		        			buttonIcon.textContent = '●';
	        				Object.assign(eventView.style, {
	        					opacity : '1', visibility : 'visible', marginLeft : window.getComputedStyle(obj).width, 
	        					maxHeight : window.getComputedStyle(obj.closest(".left_mid_menu")).height
	        				});
		        		}else{
		        			Object.assign( obj.querySelector('.to_day_event_toggle_button strong').style, {paddingRight : '12vw', paddingLeft : '0.3vw'});
		        			buttonIcon.textContent = '○';
		        			Object.assign(eventView.style, {opacity : '0', visibility : 'hidden', marginLeft : ''});
		        		}
		        	}
		        </script>
		    </div>
		    <div style="display: grid;">
				<div class="time" style="display: flex;flex-direction: column;align-items: center;">
			    	<div>
			    		<span style="font-size: 1.7vmax;">아쿠아리움 운영시간</span>
			    	</div>
			    	<div>
			    		<img src="images/alarm-clock.png" style="width:3vmax">
			    		<span style="font-size: 1.7vmax;">00:00<span>~</span>23:59:59</span>
			    	</div>
		    	</div>
		    	<table class="icon_menu">
		    		<thead>
		    		<tr>
			            <th colspan="3" style="display:none;"></th>
			        </tr>
		    		</thead>
		    		<tbody>
		    			<tr>
				            <td>
				            	<a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/money.png}"/> 
					            	이용 요금
				            	</a>
				            </td>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/vip-card.png}"/> 
					           		VIP 혜택
					            </a>
				            </td>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/clipboard.png}"/> 
					            	오늘의 활동
					            </a>
				            </td>
				        </tr>
				        <tr>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/map.png}"/> 
					            	층별 안내
					            </a>
				            </td>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/web-programming.png}"/> 
					            	단체프로그램
					            </a>
				            </td>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/microphone.png}"/> 
					            	고객의 소리
					            </a>
				            </td>
				        </tr>
				        <tr>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/car.png}"/> 
					            	교통·주차
					            </a>
				            </td>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/welfare.png}"/> 
					            	편의 시설
					            </a>
				            </td>
				            <td>
					            <a class="icon_menu_button" href="javascript:void(0)">
					            	<img class="icon_menu_item" th:src="@{images/partnership.png}"/> 
					            	장애인 편의제도
					            </a>
				            </td>
				        </tr>
		    		</tbody>
		    	</table>
		    </div>
		</div>
		<div class="main_program right_mid_menu" style="padding-left:2%;padding-right:2%;background-color: #01689b8c;font-size: 2.1vmax; margin-top: 0;margin-bottom: 0; padding-top:1%; padding-bottom:1%">
		<div class="main_program_top" style="display: flex;justify-content: space-between;">
				<span style="font-size: 2.2vmax;">
					주요 프로그램
				</span>
				<span>
					<a href="javascript:void(0);" style="font-size: 1.6vmax;">더보기</a>
				</span>
			</div>
			<div class="main_program_content" style="display:flex;font-size: 1.4vmax;">
				<div>
					<div>
						<img th:src="@{images/partnership.png}" style="width: 3vmax"/>
					</div>
					<div>
						<span style="font-weight: bold; font-size:1.5vmax;">
							먹이 주는 시간
						</span>
					</div>
					<div>
						<span>
							생명을 존중하고 함께하는 방법을 배울 수 있습니다.
						</span>
					</div>
				</div>
				
				<div>
					<div>
						<img th:src="@{images/partnership.png}" style="width: 3vmax"/>
					</div>
					<div>
						<span style="font-weight: bold; font-size:1.5vmax;">
							먹이 주는 시간
						</span>
					</div>
					<div>
						<span>
							생명을 존중하고 함께하는 방법을 배울 수 있습니다.
						</span>
					</div>
				</div>
				
				<div>
					<div>
						<img th:src="@{images/partnership.png}" style="width: 3vmax"/>
					</div>
					<div>
						<span style="font-weight: bold; font-size:1.5vmax;">
							먹이 주는 시간
						</span>
					</div>
					<div>
						<span>
							생명을 존중하고 함께하는 방법을 배울 수 있습니다.
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">

var rgbTransForm = (rgb = [0,0,0]) => rgb.map(e=>e/256);

const canvas = document.getElementById("renderCanvas");

const engine = new BABYLON.Engine(canvas, true);

var legalPad;
var scene;
var testCamera;
var createScene;
var test;
function View3DCreate() {
    //공간 선언
    scene = new BABYLON.Scene(engine);
    scene.autoClear = false
    //공간 배경 색상 설정
    scene.clearColor = new BABYLON.Color4(0, 0, 0, 0);

    //카메라의 3차원 위치 설정
    const alpha =  Math.PI/-2;
    const beta = Math.PI/3; 
    const radius = 17;
    const target = new BABYLON.Vector3(0, 5, 5);
        
    //카메라의 초기 위치 셋팅
    const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
    camera.attachControl(canvas, true);
    camera.setTarget(BABYLON.Vector3.Zero());
    camera.speed = 0.5
    camera.wheelDeltaPercentage = 0.01;
    camera.x = -47.8774;
    camera.y = 41.8426;
    camera.z = 21.137114;
    camera.beta = 1.1682455663376912;
    camera.alpha = -7.708849574681984;
    camera.radius = 75.30505333052788
    testCamera = camera;
    //광원 생성
    const light = new BABYLON.HemisphericLight("light", new BABYLON.Vector3(1, 1, 0));
    
    BABYLON.SceneLoader.ImportMeshAsync(null, "https://models.babylonjs.com/", "fish.glb");
   	BABYLON.SceneLoader.ImportMeshAsync(null, "https://models.babylonjs.com/", "fish.glb").then(e=>{
    	e.meshes.forEach(mesh=>{
    		mesh.position.x = -30
    	})
    	e.animationGroups[0].speedRatio = 0.7
    });
   	BABYLON.SceneLoader.ImportMeshAsync(null, "https://models.babylonjs.com/", "fish.glb").then(e=>{
    	e.meshes.forEach(mesh=>{
    		mesh.position.x = -40
    		mesh.position.z = 20
    	})
    	e.animationGroups[0].speedRatio = 1.3
    });
   	
    BABYLON.SceneLoader.ImportMeshAsync(null, "https://models.babylonjs.com/", "fish.glb").then(e=>{
    	e.meshes.forEach(mesh=>{
    		mesh.position.x = 40
    		mesh.position.z = -15
    	})
    	e.animationGroups[0].speedRatio = 1.7
    });
   	BABYLON.SceneLoader.ImportMeshAsync(null, "https://models.babylonjs.com/", "fish.glb").then(e=>{
    	e.meshes.forEach(mesh=>{
    		mesh.position.x = 40
    		mesh.position.y = 10
    	})
    	e.animationGroups[0].speedRatio = 0.3
    });
    
    const xrPromise = scene.createDefaultXRExperienceAsync({
        floorMeshes: [scene]
    });
    return xrPromise.then((xrExperience) => {
    	console.log("Done, WebXR is enabled.");
        return scene;
	});
    function createVideoStartButton(command){

    }
    
};
	function run3Dview(){
		createScene = View3DCreate();
        createScene.then(sceneToRender => {
            engine.runRenderLoop(() => sceneToRender.render());
            canvas.setAttribute('is_canvas_run', 'Y')
        });
	}
	
	function end3Dview(){
		createScene.then(sceneToRender=>{
			sceneToRender.dispose();
			canvas.style.display = 'none';
			canvas.setAttribute('is_canvas_run', 'N');
		});
	}

	function reloadScene(){
		if(canvas.getAttribute('is_canvas_run') === 'Y'){
			createScene.then(sceneToRender=>{
				sceneToRender.dispose();
				createScene = View3DCreate();
			}).then(()=>{
				createScene.then(sceneToRender => {
		            engine.runRenderLoop(() => sceneToRender.render());
		        });
			});
		}
	}
	run3Dview();
</script>
</div>
</body>
</html>