<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Topbar -->
    <nav class="right_top_menu" th:fragment="topbarFragment">

		<ul class="right_top_items">
	        <li class="money gold">
	        	<img th:src="@{/images/gold-bars.png}" class="icon_common"/>
	        	<span class="money_value gold">999999999</span>
	        </li>
	        <li class="money diamond">
	        	<img th:src="@{/images/diamond.png}" class="icon_common">
	        	<span class="money_value diamond">999999999</span>
	        </li>
	        <li class="money event" id="testEventMoney">
	        	<img th:src="@{/images/key.png}" class="icon_common"/>
	        	<span class="money_value event key">999999999</span>
	        </li>
	        <li class="setting">
			    <aside>
			    	<details>
			        <summary>
			            <img class="icon_common" th:src="@{/images/main_top_menu.png}">
			        </summary>
			            <ul class="sidebar" id="right_sidebar">
			            	<li class="right_top_side_items">
		            			<img onclick="this.offsetParent.parentNode.open = false" class="icon_common setting" th:src="@{/images/main_top_menu.png}"
		            				style="position: absolute;top: 0rem;right: 0rem;margin-top: 0.45rem; margin-right: 0.45rem; margin-left: 0.45rem;"/>
			            	</li>
			                <li class="right_top_side_items">
			                	<div>
					                <img th:src="@{/images/key.png}" class="icon_common"/>
			        				<span class="right_sidebar_value">설정</span>
		        				</div>
	        				</li>
			                <li class="right_top_side_items">
			                	<div>
				                	<img th:src="@{/images/key.png}" class="icon_common"/>
			        				<span class="right_sidebar_value">전투 기록</span>
		        				</div>
							</li>
			                <li class="right_top_side_items">
			                	<div>
			                		<img th:src="@{/images/key.png}" class="icon_common"/>
		        					<span class="right_sidebar_value">순위표</span>
		        				</div>
			                </li>
			                <li class="right_top_side_items">
			                	<div>
				                	<img th:src="@{/images/key.png}" class="icon_common"/>
			        				<span class="right_sidebar_value">TV</span>
		        				</div>
			                </li>
			                <li class="right_top_side_items">
			                	<div>
			                		<img th:src="@{/images/key.png}" class="icon_common"/>
		        					<span class="right_sidebar_value">수신함</span>
		        				</div>
			                </li>
			                <li class="right_top_side_items">
			                	<div>
				                	<img th:src="@{/images/key.png}" class="icon_common"/>
			        				<span class="right_sidebar_value">친선 전투</span>
		        				</div>
			                </li>
			                <li class="right_top_side_items">
			                	<div>
				                	<img th:src="@{/images/key.png}" class="icon_common"/>
			        				<span class="right_sidebar_value">맵 메이커</span>
			                	</div>
			                </li>
			                <li class="right_top_side_items">
			                	<div>
				                	<img th:src="@{/images/key.png}" class="icon_common"/>
			        				<span class="right_sidebar_value">우리 전용 아이디</span>
			                	</div>
			                </li>
			            </ul>
			        </details>
			    </aside>
			</li>
	    </ul>
        
    </nav>
</html>